@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlakeOnLan - Wake-on-LAN with Blazor (Server)</title>
    <base href="~/" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/open-iconic@1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(BlakeOnLan.App)" render-mode="Server" />
    <div id="blazor-error-ui" style=" background: lightyellow; bottom: 0; box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2); display: none; left: 0; padding: 0.6rem 1.25rem 0.7rem 1.25rem; position: fixed; width: 100%; z-index: 1000;">
        An unhandled exception has occurred. See browser dev tools for details.
        <a href="" class="reload">Reload</a>
        <a class="dismiss" style="cursor: pointer; position: absolute; right: 0.75rem; top: 0.5rem;">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>